@{
    ViewBag.Title = "initial";

 }


 <style type="text/css">
    .padding-left
    {
        padding-left: 1px;
    }
    .padding-right
    {
        padding-right: 1px;
    }
    .padding-both
    {
        padding: 1px;
    }
    .panel-default
    {
        margin-bottom: 2px;
    }
    
    .panel-title
    {
        font-size: 12px;
        color: white;
    }
    .textStyle
    {
        font-size: 0.7em !important;
    }
    #myModalss
    {
        left: 35% !important;
    }
    .modal-backdrop
    {
        background: #000 !important;
    }
   @* .panel-primary
    {
        height: 320px;
    }*@
    .panel-body
    {
        margin-top: -18px;
    }
    .tspan
    {
        font-size: 08px;
    }
   @* .foote {
  padding-top: 20px;
  margin-top: 30px;
    }*@

</style>


<div class="row textStyle">

    <div class="col-sm-12">

        <div class="row">

            <div class="col-sm-6">
                <div class="panel panel-primary">
                    
                    <div class="panel-body">
                        <div  id="purchase">
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-sm-6" style="padding-left: 0px;">
                <div class="panel panel-primary">
                    
                    <div class="panel-body">
                        <div id="closed">
                        </div>
                    </div>
                     
                </div>
            </div>

        </div>

    </div>

    

</div>


